<% content_for :title, "Tutoriapps - #{I18n.t('devise.edit_account')}" %>
<div class="row devise">
  <div class="well span4 offset4">
    <h1><%= t 'devise.edit_account' %></h1>
    <hr>
    <%= simple_form_for(resource, :as => resource_name,
      :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    %>
      <%= f.error_notification %>
      <%= image_tag resource.profile_pic.url(:medium) %>
      <%= f.file_field :profile_pic %>
      <%= f.input :email, :label => false, :disabled => true %>
      <%= f.input :name, :label => false, :placeholder => "#{I18n.t(
        'activerecord.attributes.user.name')}*" %>
      <%= f.input :current_password, :autocomplete => "off", :label => false, :required => true,
        :placeholder => "#{I18n.t('activerecord.attributes.user.current_password')}*" %>
      <%= f.input :password, :autocomplete => "off", :label => false, :required => false,
        :placeholder => I18n.t('activerecord.attributes.user.new_password') %>
      <%= f.input :password_confirmation, :autocomplete => "off", :label => false, :required => false,
        :placeholder => I18n.t('activerecord.attributes.user.new_password_confirmation') %>
      <%= f.button :submit, I18n.t('helpers.submit.update1'), :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row devise">
  <div class="well span4 offset4">
    <h1><%= t 'devise.cancel_account' %></h1>
    <hr>
    <p><%= t 'devise.registrations.destroy_warning' %></p>
    <p><%= link_to I18n.t('devise.cancel_account'), registration_path(resource_name),
      :confirm => I18n.t('devise.registrations.destroy_confirmation'), :method => :delete %>.</p>
  </div>
</div>
