<% group = group_admin %>
<div class="group">
  <a href="<%= group_path(group) %>" class="name">
    <i class="icon-chevron-right"></i>
    <%= group.name %>
  </a>
  <div class="members">
    <%= render :partial => '/enrollments/enrollment_admin', 
      :collection => group.enrollments %>
    <a href="<%= group_path(group) %>" class="new_enrollment">
      <i class="icon-plus"></i>
      <%= I18n.t('helpers.submit.add', :model => I18n.t(
        'activerecord.models.user')) %>
    </a>
    <%= form_for Enrollment.new, :remote => true, 
      :html => {'data-type' => 'html'} do |f| 
    %>
      <%= hidden_field_tag 'enrollment[group_id]', group.id %>
      <%= f.text_field :user_email, :placeholder => I18n.t(
        'activerecord.attributes.user.email'), :class => 'last-input' %>
      <%= f.submit I18n.t('helpers.submit.send'), 
        :class => 'inline-submit btn-primary' %>
    <% end %>
  </div>
</div>