<% group = group_admin %>
<div class="group" data-group-id="<%= group.id %>">
  <div class="name">
    <a href="<%= group_path(group) %>" class="open">
      <i class="icon-chevron-right"></i>
      <%= best_in_place group, :name, 
        :activator => "[.group[data-group-id=#{group.id}] .edit_group" %>
    </a>
    <a href="#" class="edit_group"><i class="icon-pencil"></i></a>
    <%= link_to '<i class="icon-remove"></i>'.html_safe, group, :remote => true,
      :method => :delete, :class => 'delete_group', :confirm => I18n.t(
      'helpers.confirm_delete.group', :group_name => group.name) %>
  </div>
  <div class="members">
    <%= render :partial => '/enrollments/enrollment_admin', 
      :collection => group.enrollments %>
    <a href="<%= group_path(group) %>" class="new_enrollment">
      <i class="icon-plus"></i>
      <%= I18n.t('helpers.submit.add', :model => I18n.t(
        'activerecord.models.user')) %>
    </a>
    <%= form_for Enrollment.new, :remote => true, 
      :html => {'data-type' => 'html'} do |f| 
    %>
      <%= hidden_field_tag 'enrollment[group_id]', group.id %>
      <%= f.text_field :user_email, :placeholder => I18n.t(
        'activerecord.attributes.user.email'), :class => 'last-input' %>
      <%= f.submit I18n.t('helpers.submit.send'), 
        :class => 'inline-submit btn-primary' %>
    <% end %>
  </div>
</div>