<div class="timeline">
  <!-- Elegir Grupo -->
  <ul class="nav nav-pills">
    <li <%= 'class="active"'.html_safe if active == 'all' %>>
      <%= link_to I18n.t('activerecord.attributes.group.all'), 
        group_path('all'), :remote => true, :class => 'change_group',
        'data-type' => 'html' %>
    </li>
    <% for group in groups %>
      <li <%= 'class="active"'.html_safe if active == group %>>
        <%= link_to group.name, group, :remote => true, :class => 'change_group',
          'data-type' => 'html' %>
      </li>
    <% end %>
  </ul>

  <!-- Crear Post Nuevo -->
  <%= simple_form_for [Post.new], :remote => true, :html => {'data-type' => 'html'} do |f| %>
    <%= f.input :text, :label => false %>
    <% if active == 'all' %>
      <%= f.association :group, :include_blank => I18n.t(
        'activerecord.attributes.group.public') %>
    <% else %>
      <input type="hidden" name="post[group_id]" value="<%= active.id %>">
      <%= active.name %>
    <% end %>
    <%= f.button :submit %>
  <% end %>

  <!-- Ver Posts -->
  <div class="posts">
    <%= render :partial => '/posts/post', :collection => posts %>
  </div>
</div>