<!-- Elegir Grupo -->
<ul class="nav nav-pills">
  <li class="active"><%= link_to 'Todos', root_path %></li>
  <% for group in @groups %>
    <li><%= link_to group.name, group %></li>
  <% end %>
</ul>

<!-- Crear Post Nuevo -->
<%= simple_form_for [@post] do |f| %>
  <%= f.input :text, :label => false %><%= f.button :submit %>
<% end %>

<!-- Ver Posts -->
<% for post in @posts %>
  <div class="post">
    <div class="row">
      <div class="span3">
        <strong><%= post.author.name %></strong>
      </div>
      <div class="span3 time">
        <%= post.group_name %> · 
        <%= time_ago_in_words(post.created_at) %>
      </div>
    </div>
    <div class="row">
      <div class="span6"><%= post.text %></div>
    </div>
  </div>
<% end %>