<div class="row">

  <div class="span3 offset1 well">
    <div class="groups">
      <h2>Grupos</h2>
      <%= render :partial => '/groups/group_admin', :collection => Group.all %>
      <a href="<%= new_group_path %>" class="new_group">
        <i class="icon-plus"></i>
        <%= I18n.t('helpers.submit.add', :model => I18n.t(
          'activerecord.models.group')) %>
      </a>
      <%= form_for Group.new, :remote => true, :html => {'data-type' => 'html'} do |f| %>
        <%= f.text_field :name, :placeholder => I18n.t(
        'activerecord.attributes.group.name'), :class => 'last-input' %>
        <%= f.submit I18n.t('helpers.submit.send'), :class => 'inline-submit
          btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="span6 well">
    <%= render :partial => 'timeline', :locals => {:active => @active, 
      :groups => @groups, :posts => @posts } %>
  </div>
</div>