<div class="row">
  <div class="sidebar span4">
    <div id="admin_panel" class="admin_panel well"></div>
    <div id="groups_panel" class="groups_panel well">
      <a class="current_user" href="<%= edit_user_registration_path %>">
        <%= image_tag current_user.profile_pic.url(:medium) %><span><%= current_user.name %></span>
      </a>
      <div class="groups">

      </div>
    </div>
  </div>
  <div id="content_panel" class="content_panel well span6">
    <div id="filter_selector"></div>
    <div id="content"></div>
  </div>
</div>

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    Tutoriapps.initialize({user_id: <%= current_user.id %>,
      is_admin: <%= current_user.admin? %>});
  <% end %>
<% end %>