<% content_for :title, "Tutoriapps - #{I18n.t('slogan')}" %>
<% content_for :body_id, 'index' %>
<div class="row-fluid">
  <div class="span8 welcome">
    <img src="http://www.esxinc.com/images/esx/Template/2007/HeaderImages/1464/ContinuingEducationManagement.jpg" />
  </div>

  <!-- Sign Up Form -->
  <div class="well span3 offset1">
    <h3><%= t 'devise.sign_up_you' %></h3>
    <h4><%= t 'devise.sign_up_message' %></h4>
    <hr>
    <%= simple_form_for(resource, :url => registration_path(resource_name),
      :as => resource_name, :html => {:class => 'sign_up form-vertical' }
      ) do |f|
    %>
      <%= f.input :name, :label => false, :placeholder => I18n.t(
        'activerecord.attributes.user.name') %>
      <%= f.input :email, :required => true, :label => false,
        :placeholder => I18n.t('activerecord.attributes.user.email') %>
      <%= f.input :password,:required => true, :label => false, 
        :placeholder => I18n.t('activerecord.attributes.user.password') %>
      <%= f.input :password_confirmation, :placeholder => I18n.t(
        'activerecord.attributes.user.password_confirmation'), 
        :required => true, :label => false %>
      <%= f.button :submit, I18n.t('devise.sign_up'), :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <!-- End Sign Up Form -->
</div>