<% content_for :title, "Tutoriapps - #{I18n.t('slogan')}" %>
<% content_for :body_id, 'index' %>

<div class="row"> 
  <div class="span7 welcome">
    <div class="welcome-text">
      <h1>Bienvenido a Tutoriapps</h1>
      <p>En Tutoriapps podrás compartir información, recibir ayuda y colaborar con otros estudiantes de forma fácil, segura y divertida.</p>
    </div>
    <img src="/assets/imagefront.jpg" />
  </div>

  <div class="span4 offset1">
    <!-- Sign In Form -->
    <div class="well">
      <%= form_for(resource, :url => session_path(resource_name),
        :as => resource_name, :html => { :class => 'sign_in' } 
        ) do |f| 
      %>
        <%= f.email_field :email, :label => false, :placeholder => I18n.t(
          'activerecord.attributes.user.email') %>
        <%= f.password_field :password, :label => false, :placeholder => I18n.t(
          'activerecord.attributes.user.password') %>
        <%= f.submit I18n.t('devise.sign_in'), :class => 'btn btn btn-primary' %>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %> · 
        <% end %>
        <%= link_to I18n.t('devise.passwords.forgot?'), 
        new_password_path(resource_name), :class => 'forgot_password' %>
      <% end %>
    </div>
    <!-- End Sign In Form -->

    <!-- Sign Up Form -->
    <div class="well clearfix">
      <h2><%= t 'devise.sign_up_you' %></h2>
      <h3><%= t 'devise.sign_up_message' %></h3>
      <hr>
      <%= form_for(resource, :url => registration_path(resource_name),
        :as => resource_name, :html => {:class => 'sign_up ' }) do |f|
      %>
        <%= f.text_field :name, :placeholder => I18n.t(
          'activerecord.attributes.user.name') %>
        <%= f.email_field :email, :placeholder => I18n.t(
          'activerecord.attributes.user.email') %>
        <%= f.password_field :password, :placeholder => I18n.t(
          'activerecord.attributes.user.password') %>
        <%= f.password_field :password_confirmation, :placeholder => I18n.t(
          'activerecord.attributes.user.password_confirmation') %>
        <%= f.submit I18n.t('devise.sign_up'), :class => 'btn btn-success' %>
      <% end %>
    </div>
    <!-- End Sign Up Form -->
  </div>
</div>