<% content_for :title, "Tutoriapps - #{I18n.t('devise.sign_in')}" %>
<div class="row devise">
  <div class="well span4 offset4">
    <h1><%= t 'devise.sign_in' %></h1>
    <hr>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
    %>
      <%= f.input :email, :required => false, :autofocus => true, :label => false,
        :placeholder => I18n.t('activerecord.attributes.user.email') %>
      <%= f.input :password, :required => false, :label => false, 
        :placeholder => I18n.t('activerecord.attributes.user.password') %>
      <% if devise_mapping.rememberable? %>
        <%= f.input :remember_me, :as => :boolean, :wrapper => :checkbox %>
      <% end %>
      <%= f.button :submit, I18n.t('devise.sign_in') %>
      <%= render "links" %>
    <% end %>
  </div>
</div>